  .home-container{
   display: grid;
   text-align:center;
   justify-content: center;
   background: rgb(13, 13, 114);
   width: 100%;
   padding-bottom: 2rem;
   }
   .home-top-menu{
    font-size:1rem; 
    color: white; 
    display: flex; 
    justify-content: flex-end; 
    gap: 1rem; 
    padding: 1rem 0rem 0rem 1rem;
   }
   .home-my-pems{
    border-radius: 50%; 
    padding: 0.1rem;
    align-items: center;
    text-align: center;
   }
   .home-drop-down-list{
        text-align: start; 
        background: white; 
        padding: 1rem 2rem; 
        border: none; 
        display: flex; 
        flex-direction: column;
        gap: 0.6rem; 
        position: fixed; 
        top: 2.5rem; 
        left: 8rem; 
        width: 10%;
        border-radius: 0.5rem; 
        font-size: 0.8rem;
        color: blue;
   }
   .home-tabs{
       margin-top:1.6rem;
       color:white; 
       display:grid; 
       grid-template-columns:1fr 1fr 1fr 1fr; 
       gap:1rem;
       padding: 0rem 1rem;
   }
   .home-geoplex-text{
    font-size: 6rem;
    color: white;
    font-weight: 620;
  }
  .home-personnel{
     font-size: 2.42rem;
     color: white;
     font-weight: 600;
   }

  .home-mpems{
     font-size: 1.3rem;
     font-weight: 400;
   }

   @media screen and (max-width: 1024px) {
     .home-tabs{
          grid-template-columns:1fr 1fr ; 
          gap:1rem;
      }  
      .home-geoplex-text{
        font-size: 4rem;
      }    
   }
   @media screen and (max-width: 620px) {
     .home-tabs{
          grid-template-columns:1fr  ; 
          gap:1rem;
      }  
      .home-geoplex-text{
        font-size: 2rem;
      }
      .home-personnel{
        font-size: 1.5rem;
      }
   
     .home-mpems{
        font-size: 1.3rem;
      }
   
        
   }
