  .home-container{
   display: grid;
   text-align:center;
   background: rgb(13, 13, 114);
   width: 100%;
   padding-bottom: 2rem;
   }
   .home-top-menu{
    font-size:1rem; 
    color: white; 
    display: flex; 
    justify-content: flex-end; 
    gap: 1rem; 
    padding: 1rem 0rem 0rem 1rem;
   }
   .home-my-pems{
    border-radius: 50%; 
    padding: 0.1rem;
    align-items: center;
    text-align: center;
   }
   .home-drop-down-list{
        text-align: start; 
        background: white; 
        padding: 1rem 3rem; 
        border: none; 
        display: flex; 
        flex-direction: column;
        gap: 0.6rem; 
        position: fixed; 
        top: 2.5rem; 
        left: 8rem; 
        width: 12%;
        border-radius: 0.5rem; 
        font-size: 0.8rem;
        color: blue;
   }
   .mui-arrow-down >keyboardArrowDownIcon{
    font-size: 4rem; 
    margin-top: 0.2rem;
   }
